*{
    margin:0;
    padding: 0;
    border: 0;
}

body{
    position: relative;
    font-family: sans-serif;
}

.container{
    background-color: rgb(37, 36, 36);
    width:350px;
    height: 300px;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    transform: translateX(-350px);
    
}

#icon{
    width: 30px;
background-color: white;
position: absolute;
top:0px;
left:350px;
background-color: rgb(254, 250, 250);

}

#icon:active{
    transform: translate(2px,2px);
}


.menu-items{
    display: flex;
    flex-direction: column;
    color: white;
}
span{
    padding:10px;
    margin: 5px 0px 5px 0px;
}

span:hover{
background-color: rgb(76, 72, 72);
transform: translate(2px,-2px);

}

#cancel{
    width: 30px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
   margin-left: 310px;
   margin-top: 5px;
    

}

#cancel:active{
    transform: translate(2px,2px);
}