*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

body{
    background-color: #000814;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container{
    width:750px;
    height:480px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #001d3d;
    color:white;
    display: flex;
        flex-direction: column;
align-items: center;
padding:20px;
gap:10px;
  
}

#degree,#wind,#fahrenheit,#time{
    width:130px;
  
}

input{
    
    width:550px;
    padding:8px;
    margin:10px;
    outline:none;
    border:1px solid white;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 600;

}

.div{
    justify-content:space-between;
    
}

button{
    border-radius: 4px;
    padding: 7px;
    width:80px;
    box-shadow: 1px 1px 1px 1px white ;
    background-color:#22223b ;
    color:white;
    font-size: 17px;
}

button:active{
transform: translate(1px,1px);
box-shadow: none;
}
.image{
    width:380px;
    height: 150px;
    border: 1px solid white;
    align-self: flex-start;
    margin-left: 15px;overflow:hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap:15px;
    font-size: 20px;
}

img{
    width:160px;
}

.icons{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
        margin-left: 20px;
    margin-top: 10px;

}

.fa-sun,.fa-droplet-degree{
font-size: 30px;

}

.one,.two,.three,.four{
width:170px;
border: 1px solid white;
padding: 20px;
margin: 2px;

}

.condition{
    display: flex;
   align-items: center;
   justify-content: center;
   gap:30px;
   width:600px;
}

.place_condition img{
    width:40px;
    border-radius: 10px;
}

.place_condition h2{
    text-decoration: underline;
    letter-spacing: 1px;
}

.place_condition #weather_condition{
    text-decoration: none;
}