body{
    background-color: rgb(10, 10, 65);
    height: 100vh;
    border: 1px solid white;
    position: relative;
    margin: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color:white;
    font-family: sans-serif;
}

.container{
box-shadow: 0px 15px 30px 10px rgba(0,0,0,0.5);
border: none;
position: absolute;
top:50%;
left: 50%;
padding: 30px;
text-align: center;
font-size: 30px;
overflow: hidden; 

}

.container span:nth-child(1){
background:linear-gradient(to right,rgb(35, 47, 78),rgb(16, 125, 214));
width:100px;
height: 2px;
position:absolute;
top:0;
left:0;
animation: 2s anim1 infinite;
animation-timing-function: ease;
}
.container span:nth-child(2){
background:linear-gradient(to right,rgb(35, 47, 78),rgb(16, 125, 214));
height:100px;
width: 2px;
position:absolute;
top:0;
right:0;
animation: 2s anim2 infinite ;
animation-timing-function: ease;
animation-delay: 0.6s;
}
.container span:nth-child(3){
background:linear-gradient(to left,rgb(35, 47, 78),rgb(16, 125, 214));
width:150px;
height: 2px;
position:absolute;
top:92px;
right:-220px;
animation: 2s anim3 infinite ;
animation-timing-function: ease;
animation-delay: 0.8s;

}

.container:active{
    transform:translate(5px,5px);
}

.container:hover{
    cursor: pointer;
}

@keyframes anim1 {
    0%{
transform: translateX(-100px);
    }

    100%{
        transform: translateX(150px);

    }
}
@keyframes anim2 {
    0%{
transform: translateY(-150px);
    }

    100%{
        transform: translateY(150px);

    }
}
@keyframes anim3 {
    0%{
transform: translateX(0px) ;
    }

    100%{
        transform: translateX(-250px);

    }
}

